* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #202020;
    padding-top: 0;
}

h1 {
    text-align: center;
    color: #ec185b;
    font-size: 70px;
    text-decoration: underline #ec185b;
    margin: 50px;
}

main {
    max-width: 1100px;
    min-width: 300px;
    margin: auto;
    background-color: #202020;
}

.imagem{
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

p {
    color: #fff;
    text-indent: 30px;
    text-align: justify;
    margin: 30px 50px 30px 50px;
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 1.5em;
}

h2 {
    color: #ffffff;
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
    margin-bottom: 30px;
}

/* .botao {
    /* background-color: #ec185b;
    position: fixed;
    right: 50px;
    bottom: 30px;
    /* padding: 15px; */
    /* border-radius: 10px;
    width: 148px;
    height: 47px;
    text-align: center;
    line-height: 48px;
    border-color: #000000;
    border-style: solid; 
}*/

.botao > a {
    text-decoration: none;
    font-weight: normal;
    color: #ec185b;
    font-size: 18px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    text-transform: uppercase;
    position: relative;
    left: 1050px;
    bottom: 30px;
}

.botao > a:hover {
    /* color: #000000; */
    background-color: #ec185b;
    color: #fff;
    border-style: none;
    padding: 12px;
    transition-duration: 0.3s;
}

ul > li {
    text-align: center;
    font-size: 28px;
    padding: 20px;
}

a#adm {
    color: #ff0000;
}

a#ads {
    color: blueviolet;
}

#bdd {
    color: rgb(0, 255, 0);
}

#eng-comp {
    color: goldenrod;
}

#eng-prod {
    color: darkblue;
}

#eng-meca {
    color: rgb(255, 123, 0);
}

#gti {
    color: cyan;
}

#jg-dig {
    color: salmon;
}

#si {
    color: deeppink;
}

#sis-net {
    color: black;
}

#rede-pc {
    color:  olivedrab;
}

li > a{
    text-decoration: none;
}

li > a:hover {
    /* background-color: #404040;
    padding: 5px;
    border-radius: 10px; */
    text-decoration: underline;
}

div.cursos > ul {
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\FE0F\00A0\00A0';
}

.cursos {
    margin-bottom: 70px;
}
