@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 80px;
    text-align: center;
    margin: 0px 0px 30px 0px;
    padding: 20px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background-color: #ff0040;
    font-family: "Ubuntu", sans-serif;
}

.botao {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 50px;
}

.botao > a {
    text-decoration: none;
    font-weight: normal;
    color: #ec185b;
    font-size: 40px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    text-transform: uppercase;
}

.botao > a:hover {
    /* color: #000000; */
    background-color: #ec185b;
    color: #fff;
    border-style: none;
    padding: 12px;
    transition-duration: 0.5s;
}

.primeiros {
    text-align: center;
}

.primeiros > a > img {
    margin: 50px;
}

.segundos {
    text-align: center;
}

.segundos > a > img {
    margin: 50px;
}

.ultimos {
    text-align: center;
}

.ultimos > a > img {
    margin: 50px;
}